body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  background: url(DSC_0472.jpg);
  background-size: 150%;
 }
#wrapper {
  width: 960px;
  margin: 20px auto;
}
h1 { 
	color: purple;
	text-align:  center;
	font-family: cursive;
}
h2 {
	color: royalblue;
	font-size: 20px;
	font-family: cursive;
}
#self {
	width: 120px;
}
#about {
	margin-left: 150px;
}
.text {
	margin-left: 230px;
}
img {
	width: 200px;
	height : 140px;
}

