#Brand {
	color: purple;
	font-family: 'Architects Daughter', cursive;
}
.jumbotron {
	background-image: url("FitMe calendar.jpg");
	background-size: cover;
	min-height: 400px;
	font-family:'Architects Daughter', cursive;
}
#newworkouts {
	background-color: lightblue;
	font-family:'Architects Daughter', cursive;
}
#recipes {
	background-color: pink;
	font-family:'Architects Daughter', cursive;
}
#music {
	background-color: orange;
	font-family:'Architects Daughter', cursive;