body {
	background-image: url("calendar.jpg");
	background-repeat: no-repeat;
	background-size: 90%;

}
h1 {
	color: purple;
	font-family: 'Architects Daughter', cursive;
}
h3 {
	color: blue;
	font-family: 'Architects Daughter', cursive;
	text-align: center;
}
.table {
	text-align: center;
}