body {
	background-image: url("shopping.jpg");
	background-repeat: repeat-y;
	background-size: 100%;
}
h1 {
	color: purple;
	font-family: 'Architects Daughter', cursive;
}
h3 {
	color: green;
	font-family: 'Architects Daughter', cursive;
	text-align: center;
}
.remove {
	position: absolute;
	right: 30px;
}